html {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}
.CONTAINER-NAVBAR {
    background-color: red;
    width: 100%;
    height: 100px;
}
.ul-navbar {
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}

.li-navbar {
     
     list-style: none;
     padding: 10px;
     margin: 5px;
     color: white;
     font-size: 20px;
}

.li-navbar:hover {
    background-color: aqua;
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}

.a-navbar {
    color: white;
    text-decoration: none;
}

.container-content {
   background-color: #555;
   height: 100%;;
    display: flex;
    justify-content: center;
    align-items: center

}

.a-content {
    background-color: white;
    color: rgb(21, 25, 25);
    width: 720px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px hsla(0, 44%, 4%, 0.749);
-webkit-box-shadow: 10px 10px 5px 0px lch(3.59% 6.66 19.4 / 0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.img-content {
    width: 50%;
    height: 50%;

}

.CONTAINER-FOOTER {
background-color: red;
display: flex;
  justify-content: center;
    align-items: center;

}


.h1-footer { 
    font-size: 50px;
    color: white;
  
}
